.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .popup {
    background-color: #821717;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
  }
  
  .title {
    font-size: 36px;
    font-weight: bold;
    color: #e5c890;
    margin-bottom: 30px;
  }
  
  .buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .goBackButton, .signOutButton {
    padding: 10px 30px;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .goBackButton {
    background-color: #e5c890;
    color: #b33;
  }
  
  .signOutButton {
    background-color: #b33;
    color: #e5c890;
  }
  
  .goBackButton:hover, .signOutButton:hover {
    opacity: 0.9;
  }
  