.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 6rem; /* Increased from 5rem */
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #7D0A0A;
    gap: 0.25rem; /* Reduced gap */
}

.footerText {
    color: #EAD196;
    text-align: center;
    margin-bottom: 0rem; /* Removed margin */
}

.footerLinks {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.footerLink {
    color: #EAD196;
}

.footerIcon {
    height: 1rem;
}

.logoContainer {
    margin-top: 0.1rem;
}

.logo {
    height: 2rem;
    width: auto;
}

/* Dark Mode Styles */
.dark-mode .footer {
    background-color: #5B0A0A; 
}

.dark-mode .footerLink {
    color: #D7B66A;
}

.dark-mode .footerText {
    color: #D7B66A;
    text-align: center;
    margin-bottom: 0rem;
}

/* Light Mode Styles */
.light-mode .footer {
    background-color: #7D0A0A;
}

.light-mode .footerText {
    color: #EAD196;
    text-align: center;
    margin-bottom: 0rem;
}
