.container {
    display: flex;
    justify-content: center;
    padding: 20px 40px;
    background-color: #ffffff;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.logo {
    height: 50px;
    align-self: flex-start;
}

.dmlogo {
    height: 1.5rem;
}

.nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.icon {
    font-size: 18px;
    color: #7D0A0A;
}

.navLink {
    font-size: 16px;
    color: #7D0A0A;
    text-decoration: none;
    font-weight: normal;
}

.userSection {
    display: flex;
    align-items: center;
    gap: 15px; /* Adjust this gap to control the spacing between Sign Out and avatar */
}

.signOut {
    font-size: 16px;
    color: #7D0A0A;
    text-decoration: none;
    font-weight: bold;
}

.userAvatarButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* Add these styles to your CSS module to style the assistant code inside the avatar */
.userAvatar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EAD196; /* Fallback color if no avatar image */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    color: #7D0A0A;
    text-align: center;
  }
  
  .assistantCode {
    font-size: 14px;
    font-weight: bold;
    color: #7D0A0A;
  }

  .userName {
    font-size: 15px;
    font-weight: bold;
    color: #7D0A0A;
  }