.container {
    display: flex;
    justify-content: center;
    padding: 20px 40px;
    background-color: #ffffff;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.logo {
    height: 50px;
    align-self: flex-start;
}

.dmlogo {
    height: 1.5rem;
}

.nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.icon {
    font-size: 18px;
    color: #7D0A0A;
}

.navLink {
    font-size: 16px;
    color: #7D0A0A;
    text-decoration: none;
    font-weight: normal;
}

.userSection {
    display: flex;
    align-items: center;
    gap: 15px; /* Adjust this gap to control the spacing between Sign Out and avatar */
}

.signOut {
    font-size: 16px;
    color: #7D0A0A;
    text-decoration: none;
    font-weight: bold;
}

.userAvatarButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.userAvatar {
    background-color: #EAD196;
    color: #7D0A0A;
    width: 50px;  /* Ukuran lingkaran */
    height: 50px; /* Ukuran lingkaran */
    border-radius: 50%; /* Membuat lingkaran */
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center; /* Pusatkan teks secara vertikal */
    justify-content: center; /* Pusatkan teks secara horizontal */
    text-align: center; /* Memastikan teks berada di tengah */
}
