/* General Styles */
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
}

.mainContent {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-top: 64px; */
  margin-left: 20px;
  margin-right: 20px;
  padding: 60px 40px;
  width: 100%;
  max-width: 1200px;
}

.textContent {
  max-width: 50%;
  padding-right: 20px;
}

.title {
  font-size: 36px;
  margin-bottom: 20px;
  font-weight: bold;
  padding-left: 30px;
  width: 100%;
}

.description {
  font-size: 18px;
  line-height: 1.5;
  text-align: justify;
  padding-left: 30px;
  width: 100%;
}

.imageContent {
  width: 50%;
  display: flex;
  justify-content: center;
  padding-left: 70px;
}

.mainImage {
  height: 15rem; /* Adjusted height */
}

.attendanceSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0;
  width: 100%;
}

.attendanceTitle {
  font-size: 32px;
  margin-bottom: 40px;
  font-weight: bold;
}

.attendanceButton {
  width: 200px;
  padding: 15px 0;
  background-color: #7D0A0A;
  color: #EAD196;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s;
}

/* Dark Mode Styles */
.dark-mode .title {
  color: #BDBDBD;
}

.dark-mode .description {
  color: #BDBDBD;
}

.dark-mode .attendanceTitle {
  color: #BDBDBD;
}

.dark-mode .attendanceButton {
  background-color: #5B0A0A;
  color: #D7B66A;
}

/* Light Mode Styles */
.light-mode .title {
  color: #3F3C38;
}

.light-mode .description {
  color: #3F3C38;
}

.light-mode .attendanceTitle {
  color: #3F3C38;
}

.light-mode .attendanceButton {
  background-color: #7D0A0A;
  color: #EAD196;
}

.light-mode .attendanceButton:hover {
  background-color: #d3b877;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .mainContent {
    flex-direction: column;
    margin: 20px 10px;
  }

  .textContent {
    width: 90%;
    margin-bottom: 20px;
    padding: 0 10px;
  }

  .title {
    font-size: 28px;
    margin-bottom: 15px;
    padding: 0;
    width: 100%;
  }

  .description {
    font-size: 16px;
    line-height: 1.4;
    width: 100%;
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
  }

  .mainImage {
    width: 100%;
    margin-bottom: 20px;
    margin-left: -20px;
    transform: translateX(-18%);
  }

  .attendanceButton {
    transform: translateX(5%);
    width: 90%;
    display: block;
  }

  .dark-mode .attendanceButton {
    transform: translateX(5%);
    width: 90%;
    display: block;
  }

  .dark-mode .mainContent {
    flex-direction: column;
    align-items: center;
    margin: 20px 10px;
  }

  .dark-mode .textContent {
    width: 90%;
    margin-bottom: 20px;
    padding: 0 10px;
  }

  .dark-mode .title {
    font-size: 28px;
    margin-bottom: 15px;
    padding: 0;
    width: 100%;
  }

  .dark-mode .description {
    font-size: 16px;
    line-height: 1.4;
    width: 100%;
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
  }
}
