/* Gaya umum untuk container */
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
}

/* Gaya umum untuk konten utama */
.mainContent {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 64px;
  margin-left: 20px;
  margin-right: 20px;
}

/* Gaya untuk konten teks */
.textContent {
  /* max-width: 50%; */
  padding-right: 20px;
}

/* Gaya untuk judul */
.title {
  font-size: 45px;
  color: #4C4C4C;
  margin-bottom: 20px;
  font-weight: bold;
  padding-left: 30px;
  width: 70%;
}

/* Gaya untuk deskripsi */
.description {
  font-size: 20px;
  color: #4C4C4C;
  line-height: 1.5;
  text-align: justify;
  padding-left: 30px;
  width: 70%;
}

/* Gaya untuk konten gambar */
.imageContent {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-left: 70px;
}

/* Gaya untuk gambar utama */
.mainImage {
  height: auto;
  transform: translate(-50%);
}

.attendanceSection {
  display: flex;
  flex-direction: column; /* Ubah menjadi row untuk tampilan desktop */
  justify-content: center; /* Pusatkan tombol-tombol di tengah */
  align-items: center; /* Pastikan tombol-tombol berada di tengah secara vertikal */
  padding: 60px 0;
  gap: 20px; /* Jarak antara tombol */
  width: 100%;
}

/* Gaya untuk judul kehadiran */
.attendanceTitle {
  font-size: 40px;
  color: #3F3C38;
  margin-bottom: 40px;
  font-weight: bold;
}

/* Gaya untuk tombol kehadiran */
.attendanceButton {
  padding: 15px 30px;
  background-color: #7D0A0A;
  color: #EAD196;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Gaya untuk mode gelap */
.dark-mode .title {
  color: #BDBDBD;
}

.dark-mode .description {
  color: #BDBDBD;
}

.dark-mode .attendanceButton {
  background-color: #5B0A0A;
  color: #D7B66A;
}
.dark-mode .attendanceTitle {
  font-size: 32px;
  color: #BDBDBD;
  margin-bottom: 40px;
  font-weight: bold;
}

/* Gaya untuk mode terang */
.light-mode .title {
  color: #3F3C38;
}

.light-mode .description {
  color: #3F3C38;
}

.light-mode .attendanceButton {
  background-color: #7D0A0A;
  color: #EAD196;
  
}

/* Mobile Styles */
@media (max-width: 768px) {
  .mainContent {
    flex-direction: column; /* Stack text and image vertically */
    /* Center content */
    margin: 0px 0px; 
    padding-top: 20px;
  
  }
  .mainImage{
    transform: translate(-40px);
    padding-bottom: 80px;
  }

  .textContent {
    width: 90%; /* Ensure some margin from the edges */
   /* Center align text */
    margin-bottom: 20px; /* Space below text section */
    padding: 0 10px; /* Add padding to avoid text touching screen edges */
  }

  .title {
    font-size: 28px; /* Adjust font size for mobile */
    margin-bottom: 15px; /* Space below title */
    padding: 0 0px; /* Padding for better readability */
    width: 100%;
  }

  .description {
    font-size: 16px; /* Adjust font size for mobile */
    line-height: 1.4; /* Adjust line height for readability */
    width: 100%; /* Lebar elemen description untuk mobile */
    max-width: 100%; /* Pastikan tidak melebihi lebar kontainer */
    padding-left: 0px; /* Padding kiri untuk ruang tambahan */
    padding-right: 0px; /* Padding kanan untuk ruang tambahan */
    box-sizing: border-box; /* Memastikan padding termasuk dalam lebar */
  }

  .attendanceSection {
    flex-direction: column; /* Stack buttons vertically on mobile */
  }

  .attendanceButton {
    width: 90%; /* Lebar penuh pada tampilan mobile */
    margin-bottom: 20px;
  }

  .dark-mode .attendanceButton {
    transform: translateX(5%);
    width: 90%; /* Lebar penuh pada tampilan mobile */
    display: block; /* Pastikan tombol tampil sebagai blok untuk margin auto */
  }
  .dark-mode .mainContent {
    flex-direction: column; /* Stack text and image vertically */
    /* Center content */
    margin: 0px 0px; 
    padding-top: 20px; /* Adjust margin for smaller screens */
  }

  .dark-mode .textContent {
    width: 90%; /* Ensure some margin from the edges */
   /* Center align text */
    margin-bottom: 20px; /* Space below text section */
    padding: 0 10px; /* Add padding to avoid text touching screen edges */
  }

  .dark-mode .title {
    font-size: 28px; /* Adjust font size for mobile */
    margin-bottom: 15px; /* Space below title */
    padding: 0 0px; /* Padding for better readability */
    width: 100%;
  }

  .dark-mode .description {
    font-size: 16px; /* Adjust font size for mobile */
    line-height: 1.4; /* Adjust line height for readability */
    width: 100%; /* Lebar elemen description untuk mobile */
    max-width: 100%; /* Pastikan tidak melebihi lebar kontainer */
    padding-left: 0px; /* Padding kiri untuk ruang tambahan */
    padding-right: 0px; /* Padding kanan untuk ruang tambahan */
    box-sizing: border-box; /* Memastikan padding termasuk dalam lebar */
  }
  
  .dark-mode .imageSection {
    width: 100%; /* Full width on mobile */
    margin-bottom: 20px; /* Space below image */
  }
  
}