.container {
  max-width: 1280px;
  margin: 0 auto;
}

.title {
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 100px;
  color: #515151;
  text-align: center;
  margin-top: 100px;
}

.filterSection {
  margin: 20px auto;
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filterLabel {
  font-size: 18px;
  margin-right: 20px;
  color: #4A4A4A;
}

.datePicker {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 200px;
}

.attendanceList {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.attendanceItem {
  background-color: #e5c890;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.attendanceID {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

.attendanceName {
  font-size: 18px;
  color: #333;
}

.attendanceInfo {
  flex: 1;
  margin-right: 20px;
  text-align: left;
}

.attendanceDate, .attendanceTime {
  font-size: 16px;
  font-weight: bold;
  text-align: right;
}

.pagination {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pageButton {
  background-color: #7D0A0A;
  color: #EAD196;
  border: none;
  padding: 10px 10px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  margin-right: 10px;
}

.arrowButton {
  background-color: transparent;
  border: none;
  font-size: 24px;
  color: #7D0A0A;
  cursor: pointer;
}

.pageButton:hover, .arrowButton:hover {
  background-color: #660707;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0; /* Adjust spacing around pagination */
}

.arrowButton {
  background-color: #7e0907; /* Dark red color */
  border: none;
  color: #f0d2a2; /* Light yellowish text */
  padding: 5px 10px; /* Adjusted padding for uniformity */
  border-radius: 10px; /* Fully rounded button */
  cursor: pointer;
  margin: 10px 10px; /* Spacing between buttons */
  font-size: 1.2rem; /* Increase icon size */
}

.pageButton {
  background-color: #7e0907; /* Dark red color */
  border: none;
  color: #f0d2a2; /* Light yellowish text */
  padding: 10px 30px; /* More padding for the text button */
  border-radius: 20px; /* Rounded corners */
  font-weight: bold;
  margin: 0 10px; /* Spacing between buttons */
}

.pageButton:disabled {
  opacity: 1;
  cursor: default;
}

/* Add hover effects for interactivity */
.arrowButton:hover,
.pageButton:hover {
  background-color: #9c1111; /* Slightly lighter red on hover */
}

.arrowButton:disabled {
  background-color: #7e0907; /* Same color, no hover effect */
  cursor: not-allowed; /* Disabled cursor style */
}
