.container {
    max-width: 1280px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
}

.logo {
    width: 100px;
}

.nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav a {
    text-decoration: none;
    color: #900;
    font-weight: bold;
}

.signOut {
    color: #900;
    font-weight: bold;
}

.main {
    padding: 50px;
}

.profile {
    margin-bottom: 40px;
}

.avatar {
    background-color: #F3EDC8;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto 20px;
    margin-top: 50px;
    display: flex; /* Gunakan Flexbox untuk memusatkan konten */
    align-items: center; /* Pusatkan konten secara vertikal */
    justify-content: center; /* Pusatkan konten secara horizontal */
}

.avatarText {
    font-size: 20px;
    font-weight: bold;
    color: #515151;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; /* Pastikan teks mengambil tinggi penuh dari avatar */
    width: 100%; /* Pastikan teks mengambil lebar penuh dari avatar */
}


.name {
    font-size: 24px;
    font-weight: bold;
    color: #515151;
    text-align: center;
}

.attendanceHistory h2 {
    color: #900;
    margin-top: 100px;
    margin-bottom: 80px;
    font-weight: bold;
    font-size: 30px;
    text-align: left;
}

.historyItem {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    font-size: 18px;
    font-weight: bold;
}

.time {
    flex: 1; /* Adjust the flex properties if needed */
}

.rawTime {
    flex: 1; /* Adjust the flex properties if needed */
    text-align: right; /* Align rawTime to the right */
}
