/* Gaya umum untuk container */
.container {
    max-width: 1280px;
    margin: 0 auto;
}

/* Gaya untuk header */
.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
}

.logo {
    width: 100px;
}

.nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav a {
    text-decoration: none;
    color: #7D0A0A;
    font-weight: bold;
}

.signOut {
    color: #7D0A0A;
    font-weight: bold;
}

.citButton {
    background-color: #E5C38C;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-weight: bold;
    cursor: pointer;
}

/* Gaya untuk main */
.main {
    padding: 50px;
}

/* Gaya untuk profile */
.profile {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Gaya untuk avatar */
.avatar {
    background-color: #F3EDC8;
    width: 200px; /* Increase the width */
    height: 200px; /* Increase the height */
    border-radius: 50%;
    margin: 0 auto 20px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Ensures the image fits within the circular avatar */
}

.pencilIcon {
    position: absolute;
    bottom: 20px; /* Sesuaikan posisi dari bawah */
    right: 10px; /* Sesuaikan posisi dari kanan */
    border-radius: 50%; /* Membuat ikon menjadi bulat */
    padding: 5px; /* Menambahkan padding untuk memberikan ruang di sekitar ikon */
    cursor: pointer;
    width: 60px; /* Sesuaikan lebar ikon */
    height: 50px; /* Sesuaikan tinggi ikon */
}

.avatarContainer {
    position: relative;
    display: inline-block;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the avatar without stretching */
}

.avatarText {
    font-size: 40px;
    font-weight: bold;
    color: #515151;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.assistantCode {
    font-size: 30px;
    font-weight: bold;
    color: #777;
    text-align: center;
    margin-bottom: 0.5rem;
}

.name {
    font-size: 28px;
    font-weight: bold;
    color: #3F3C38;
    text-align: center;
}

/* Gaya untuk attendanceHistory */
.attendanceHistory h2 {
    margin-top: 100px;
    margin-bottom: 80px;
    font-weight: bold;
    font-size: 30px;
    text-align: left;
}

/* Gaya untuk historyItem */
.historyItem {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    font-size: 18px;
    font-weight: bold;
}

.time {
    flex: 1; /* Adjust the flex properties if needed */
}

.rawTime {
    flex: 1; /* Adjust the flex properties if needed */
    text-align: right; /* Align rawTime to the right */
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Modal Styling */
.modalContent {
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    width: 300px;
  }
  
  .modalContent h3 {
    margin-bottom: 20px;
    color: #3F3C38;
    font-size: 18px;
    font-weight: bold;
  }
  
  .fileLabel {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .fileInput {
    display: none;
  }
  
  .noFileChosen {
    margin: 10px 0;
    color: #777;
    font-size: 14px;
  }
  
  .buttonContainer {
    display: flex;
    justify-content: space-between;
  }
  
  .deleteButton,
  .uploadButton {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .deleteButton {
    background-color: #D7B66A; /* Red color for delete */
    color: #7D0A0A;
    font-weight: bold;
  }
  
  .closeIcon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    font-weight: bold;
    background: none;
    border: none;
    cursor: pointer;
    color: #333; /* Sesuaikan dengan warna yang diinginkan */
  }
  
  .uploadButton {
    background-color: #D7B66A; /* Warna hijau untuk upload */
    color: #7D0A0A;
    font-weight: bold;
  }
  