.container {
    max-width: 1280px;
    margin: 0 auto;
}

.main {
    flex: 1;
    padding: 20px 20px;
    text-align: center;
}
  
.heading {
    font-size: 32px;
    font-weight: bold;
    color: #4A4A4A;
    margin-bottom: 100px;
}
  
.recap {
    display: grid;
    grid-template-rows: repeat(2, auto); /* Two rows for rank items */
    grid-template-columns: repeat(3, 1fr); /* Three columns for layout */
    gap: 5px !important; /* Decrease gap to bring items closer */
    justify-items: center; /* Center items horizontally */
    margin-bottom: 60px;
}

.recapItem {
    text-align: center;
    color: #7D0A0A;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rank1 {
    grid-row: 1; /* Gold medal in the first row */
    grid-column: 2; /* Centered in the middle column */
}

.rank2 {
    grid-row: 2; /* Silver medal in the second row */
    grid-column: 1; /* Left column */
    margin-top: -15px !important;
}

.rank3 {
    grid-row: 2; /* Bronze medal in the second row */
    grid-column: 3; /* Right column */
    margin-top: -15px !important;
}

.badge {
    background-color: #EAD196; /* Light color for the badge */
    width: 100px; /* Size of the badge */
    height: 100px;
    border-radius: 50%; /* Circular shape */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px; /* Font size for assistant code */
    font-weight: bold;
    position: relative;
    z-index: 5;
}

.medalIcon {
    position: absolute;
    top: -20px; /* Position above the badge */
    left: calc(50% - 20px); /* Center horizontally above the badge */
    width: 40px; /* Size of the medal icon */
    height: 40px; /* Size of the medal icon */
    z-index: 10;
    object-fit: contain;
}


.points {
    font-size: 35px; /* Font size for total attendance */
    font-weight: bold;
    color: #3F3C38;
    margin-top: 5px; /* Space above points */
}
  
.filter {
    text-align: right;
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
    justify-content: flex-end;
    display: flex;
    transform: translateX(-500px);
}
  
.filterButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #3F3C38;
    font-size: 16px;
    display: flex;
    align-items: center;
}
  
.dropdown {
    position: absolute;
    right: 0;
    background-color: #EAD196;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px;
    text-align: left;
}
  
.dropdown p {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}
  
.dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
.dropdown li {
    font-size: 14px;
    color: #3F3C38;
    cursor: pointer;
    padding: 5px 0;
}
  
.dropdown li:hover {
    text-decoration: underline;
}
  
.attendanceList {
    margin: 0 auto;
    max-width: 600px;
}

.card {
    background-color: #EAD196;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
  
.left h3 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    color: #3F3C38;
    text-align: left;
}
  
.left p {
    font-size: 18px;
    color: #4A4A4A;
}
  
.right p {
    font-size: 24px;
    font-weight: bold;
    color: #EAD196;
}
  
.pagination {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.pageButton {
    background-color: #7D0A0A;
    color: #EAD196;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    margin-right: 10px;
}
  
.arrowButton {
    background-color: transparent;
    border: none;
    font-size: 24px;
    color: #7D0A0A;
    cursor: pointer;
}
  
.pageButton:hover, .arrowButton:hover {
    background-color: #660707;
}

.pointsCard {
    background-color: #7D0A0A;
    border-radius: 10px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 75px;
    height: 60px;
    font-size: 24px;
    color: #EAD196;
    text-align: center;
}
