.container {
    max-width: 1280px;
    margin: 0 auto;
}

.main {
    flex: 1;
    padding: 20px 20px;
    text-align: center;
}
  
.heading {
    font-size: 45px;
    font-weight: bold;
    color: #4A4A4A;
    margin-bottom: 100px;
    margin-top: 100px;
}
  
.recap {
    position: relative;
    height: 250px; /* Atur tinggi yang cukup untuk menampung semua item */
    margin-bottom: 60px;
}

.recapItem {
    text-align: center;
    color: #7D0A0A;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rank1 {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.rank2 {
    top: 150px;
    left: 25%; /* Posisikan lebih ke tengah */
}

.rank3 {
    top: 150px;
    right: 25%; /* Posisikan lebih ke tengah */
}

.badge {
    background-color: #EAD196; /* Light color for the badge */
    width: 150px; /* Size of the badge */
    height: 150px;
    border-radius: 50%; /* Circular shape */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px; /* Font size for assistant code */
    font-weight: bold;
    position: relative;
    z-index: 5;
}

.medalIcon {
    position: absolute;
    top: -10px; /* Position above the badge */
    left: calc(-10% - 0px); /* Center horizontally above the badge */
    width: 80px; /* Size of the medal icon */
    height: 80px; /* Size of the medal icon */
    z-index: 10;
    object-fit: contain;
}


.points {
    font-size: 40px; /* Font size for total attendance */
    font-weight: bold;
    color: #3F3C38;
    margin-top: 5px; /* Space above points */
}
  
.filter {
    text-align: right;
    margin-top: 200px;
    margin-bottom: 30px;
    position: relative;
    display: inline-block;
    justify-content: flex-end;
    display: flex;
    transform: translateX(-500px);
}
  
.filterButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #3F3C38;
    font-size: 16px;
    display: flex;
    align-items: center;
}
  
.dropdown {
    position: absolute;
    right: 0;
    background-color: #EAD196;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px;
    text-align: left;
}
  
.dropdown p {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}
  
.dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
.dropdown li {
    font-size: 14px;
    color: #3F3C38;
    cursor: pointer;
    padding: 5px 0;
}
  
.dropdown li:hover {
    text-decoration: underline;
}
  
.attendanceList {
    margin: 0 auto;
    max-width: 600px;
}

.card {
    background-color: #EAD196;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 20px 0px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
  
.left h3 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    color: #3F3C38;
    text-align: left;
}
  
.left p {
    font-size: 18px;
    color: #4A4A4A;
}
  
.right p {
    font-size: 24px;
    font-weight: bold;
    color: #EAD196;
}
  
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
  }
  
  .arrowButton {
    background-color: #7e0907; /* Warna merah tua */
    border: none;
    color: #f0d2a2; /* Warna teks kekuningan */
    padding: 5px 10px;
    border-radius: 10px; /* Membuat tombol berbentuk lingkaran */
    cursor: pointer;
    margin: 10px 10px;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
  }
  
  .arrowButton:hover {
    background-color: #a50c0c; /* Warna saat hover */
  }
  
  .arrowButton:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  .pageButton {
    background-color: #7e0907; /* Warna merah tua */
    border: none;
    color: #f0d2a2; /* Warna teks kekuningan */
    padding: 10px 20px;
    border-radius: 20px; /* Membuat tombol berbentuk elips */
    font-weight: bold;
    margin: 0 10px;
    font-size: 1.2rem;
  }
  
  .pageButton:disabled {
    opacity: 1;
    cursor: default;
  }
  
.pointsCard {
    background-color: #7D0A0A;
    border-radius: 10px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 75px;
    height: 60px;
    font-size: 24px;
    color: #EAD196;
    text-align: center;
}
