.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding-top: 50px; 
  padding-left: 40px;
}

/* Logo adjustments */
.logo {
  margin-bottom: 80px;
}

/* Title styles */
.title {
  font-size: 24px;
  margin-bottom: 30px;
  font-family: 'Baloo 2', sans-serif;
  color: #EAD196;
}

/* Form styling */
.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.label {
  display: none;
}

.input {
  padding: 15px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  background-color: #EAD196;
  color: #7D0A0A;
  font-weight: bold;
  width: 100%;
}

.input::placeholder {
  color: #7D0A0A;
}

/* Password container and toggle button */
.passwordContainer {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.eyeIcon {
  position: absolute;
  right: 15px;
  cursor: pointer;
  width: 35px;
  height: 30px;
}

.signInButton {
  padding: 10px 20px;
  background-color: #EAD196;
  color: #7D0A0A;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  align-self: center;
  width: auto;
  margin-top: 30px;
  font-weight: bold;
}

.signInButton:hover {
  background-color: #d3b877;
}

.error {
  color: red;
  margin-top: 10px;
}

/* General formContainer styles */
.formContainer {
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
  text-align: center;
  margin-top: -40px;
  margin-bottom: 20px;
  background-color: #7D0A0A;
}

/* Dark mode styles */
.dark-mode .formContainer {
  background-color: #5B0A0A;
}

.dark-mode .title {
  color: #BDBDBD;
  font-weight: bold;
}

.dark-mode .input {
  background-color: #D7B66A;
  color: #5B0A0A;
}

.dark-mode .signInButton {
  background-color: #D7B66A;
  color: #5B0A0A;
}

.dark-mode .signInButton:hover {
  background-color: #7b5703;
}
